<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>heelo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4737FC61E291D2E00D639B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4737FDA1E291D2E00D639B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4737FE51E291D2E00D639B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
